<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <span></span>

       <main>
            <div class="container-contatti">

                <article class="profilo" >

                    <div class="utente">

                        <img :src="io.avatar" alt="">
    
                        <p>{{io.name}}</p>

                    </div>

                    <div class="opzioni-profilo">

                        <ul>
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>

                       

                    </div>
                    

                </article>

                <article class="notifiche">

                    <div class="campanella">

                        <i class="fa-solid fa-bell-slash"></i>

                    </div>

                    

                    <div>
                        <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>

                        <p>attiva notifiche dekstop</strong></p>

                    </div>

                   

                    
                    
                </article>

                <aside>

                    <section class="barra-ricerca">

                        <button>

                            <i class="fa-solid fa-magnifying-glass"></i>

                        </button>

                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="ricerca">


                    </section>

                    <article class="contatti" v-for="(item,indice) in contacts" @click="indexChatAperta(indice)">

                        <div class="container"> 

                            <img :src="item.avatar" alt="">


                            <div class="nome">
                                
                            <p>{{item.name}}</p>

                            <p class="ultimo-messaggio">{{item.messages[ultimoIndice(item.messages)].date.substring(0,10)}}</p>

                            </div>

                       </div>

                        <p class="orario">{{item.messages[ultimoIndice(item.messages)].date.substring(11,16)}}</p>
    
    
    
                    </article>

                </aside>


            </div>


            <div class="container-messaggi">

                <article class="profilo-chat-aperta">
                    

                    <div class="utente">

                        <img :src="contacts[chatAperta()].avatar" alt="">
    
                        <p>{{contacts[chatAperta()].name}}</p>

                    </div>

                    <article class="opzioni-profilo">

                        <ul>
                            <li><i class="fa-solid fa-magnifying-glass"></i></li>
                            <li><i class="fa-solid fa-paperclip"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>

                    </article>

                </article>
                
                <section class="chat" >

                    <div v-for="(element,index) in contacts[chatAperta()].messages" :class="(element.status == 'sent') ? 'inviato' : 'ricevuto' ">

                        <p>{{element.message}}</p>


                    </div>

                   

                </section>

                <footer class="tastiera">

                    <i class="fa-regular fa-face-smile"></i>

                    <input type="text" placeholder="scrivi un messaggio" v-model="messaggioInviato"  @keyup.enter="nuovoMessaggio(messaggioInviato,chatAperta())">

                    <i class="fa-solid fa-microphone"></i>


                </footer>


            </div>
       </main>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>